* {
	text-transform: uppercase;
	color: #ffffff;
}

@font-face {
	font-family: CiscoSans;
	src: url('./assets/font/CiscoSansTTRegular.ttf');
}

body {
	background-color: #00bceb;
	font-family: CiscoSans;
}

p {
	display: inline;
	font-size: 23px;
	line-height: 1.2;
}

.vt-has {
	text-transform: none;
}

.vt-mg {
	margin: 30px;
}

.title_color {
	color: #330067 !important;
}

.btn {
	background-color: #330067;
	color: #ffffff;
	border: 1px solid #fff;
}

.btn:hover {
	color: #ffffff;
}

.btn:active {
	color: #ffffff;
	background-color: #44036d;
}

.vt-footer {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

.logo {
	width: 100%;
	padding: 0 15px;
}